/* styles.css*/

/*  Type selector (element selector) */
.recipies-list-container {
    padding: 20px, 20px;
    margin: 20xp, 20px;
    color: white;
    background-color: black;
    font-size: 15px;
}

.padding {
    padding: 20px;
}

@keyframes hover {
    0% {
        color: black;
        letter-spacing: 0px;
        font-size: 15px;
    }
    50% {
        color: bisque;
        letter-spacing: 10px;
        font-size: 25px;
    }
    100% {
        color: bisque;
        letter-spacing: 6px;
        font-size: 20px;
    }
}

a {
    text-decoration: none;
}

a:visited, a:visited {
    color:bisque
}

a:hover {
    font-size: 20px;
    letter-spacing: 6px;
    animation-name: hover;
    animation-duration: 0.5s;
}


